[submodule ".submodule/LuaAutoC"]
	path = .submodule/LuaAutoC
	url = https://github.com/orangeduck/LuaAutoC
[submodule ".submodule/ParseArgsC"]
	path = .submodule/ParseArgsC
	url = https://github.com/ElricleNecro/ParseArgsC.git
